{
    "class": "AS3",
    "action": "deploy",
    "persist": true,
    "declaration": {
        "class": "ADC",
        "schemaVersion": "3.20.0",
        "id": "testid",
        "label": "test-label",
        "remark": "test-remark",
        "{{outer_item.split('-')[1].split('_')[0]}}":{
            "class": "Tenant",
            {{ lookup('file', 'tmp/declarations/'+outer_item, split_lines=False) }}
        }
    }
}